<%= form_with(model: download, local: true) do |form| %>
  <% if download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(download.errors.count, "error") %> prohibited this download from being saved:</h2>

      <ul>
      <% download.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :User_id %>
    <%= form.text_field :User_id, id: :download_User_id %>
  </div>

  <div class="field">
    <%= form.label :Document_id %>
    <%= form.text_field :Document_id, id: :download_Document_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
