<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @download.User %>
</p>

<p>
  <strong>Document:</strong>
  <%= @download.Document %>
</p>

<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
